# Binaries for programs and plugins
*.exe
*.exe~
*.xml
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# IDE
.idea
.vscode

# Output of the go coverage tool, specifically when used with LiteIDE
*.out